{% extends 'layout.html' %}

{% block title %}developMENT{% endblock %}

{% block content %}
    <aside class="title_text">
        <h1> DEVELOPMENT </h1>
    </aside>
    <aside class="main_text">
        <h5>
            Добро пожаловать на наш информационный сайт о великом английском футбольном клубе MANCHETER UNITED.
            Я, Неъматов Жавохир, автор и разработчик этого скромного сайта.
            На данный момент обучаюсь в школе актуальных профессий с нуля TEHNIKUM, по профессии PYTHON-разработчик.
            И этот сайт является моим первым экзаменационным проектом на DJANGO.
            По окончанию данного курса, хочу продолжить обучение в сфере программирования
            и конечно же начать работать по новой профессии. Моя цель развиваться и построить свою карьеру
            в данном направлении. Сейчас же готов устроится стажером в любую IT компанию для получения бесценного опыта,
            получения дальнейших знаний и закрепления своих собственных навыков в условиях реальной практики и задач.
            Готов для дальнейшего сотрудничества. Благодарю что прочитали информацию обо мне.
        </h5><br>
    </aside>
{% endblock %}



