{% extends 'layout.html' %}

{% block title %}Футболисты по выбранной позиции{% endblock %}

{% block content %}
    <aside class="title_text">
        <h1>ФУТБОЛИСТЫ ВЫБРАННОЙ ПОЗИЦИИ</h1>
    </aside>
    <aside class="main_img_3">
        {% for i in products %}
            <a href="/product/{{ i.id }}" class="btn btn-primary"><img class="portret" src="/{{ i.product_photo }}" alt="{{ i.product_name }}" /></a>
        {% endfor %}
    </aside>
{% endblock %}


{% block search %}
    <form action="search" method="POST">
        {% csrf_token %}
        <input class="find" type="text" placeholder="Поиск по имени" name="search_product">
    </form>
{% endblock %}


{% block tools %}
<aside class="tools">
    <h5>
        Позиции:
        {% for category in categories %}
            <a href="category/{{ category.id }}">{{ category.category_name }}</a>
        {% endfor %}<br>
    </h5>
</aside>
{% endblock %}


