{% extends 'layout.html' %}
{% load static %}

{% block title %}Футболист{% endblock %}

{% block content %}
    <aside class="title_text_ex">
        <h1>{{ product.product_name }}</h1>
    </aside>
    <aside class="main_text_ex">
        <h4>Позиция: {{ product.product_category }}</h4><img src="/{{ product.product_photo }}" alt="{{ product.product_name }}"/><br>
        <h4>Город: {{ product.product_city }}</h4><br>
        <h4>Информация: {{ product.product_des }}</h4><br>
        <h4>Годовая зарплата в EUR: {{ product.product_price }} сум</h4><br>
    </aside>
{% endblock %}

{% block search %}
    <form action="search" method="POST">
        {% csrf_token %}
        <input class="find" type="text" placeholder="Поиск по имени" name="search_product">
    </form>
{% endblock %}

{% block tools %}
<aside class="tools">
    <h5>
        Позиции:
        {% for category in categories %}
            <a href="category/{{ category.id }}">{{ category.category_name }}</a>
        {% endfor %}<br>
    </h5>
</aside>
{% endblock %}

