{% extends 'layout.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <aside class="title_text">
        <h1>ГЛАВНАЯ СТРАНИЦА</h1>
    </aside>
    <aside class="main_text">
        <h5>Клуб появился в 1878 году по названием Ньютон Хит и был заводской командой
            Лонкашерского железнодорожного склада. В 1902 году был переименован в Манчестер Юнайтед.
            Через 6 лет команда завоевала свое первое золото Высшего Английского Дивизиона в 1908 году.
            В 1909 году пришёл успех в Кубке Англии. В 1952 году опять добыл и золото в Чемпионате Англии.
            Позже клуб два раза подряд повторял успех в 1956 году и в 1957 году. Это первая Английская команда
            которой удалось дойди до полуфинала Европейского Кубка Чемпионов, где Реал Мадрид оказался сильнее.

            В 1958 году команде произошла трагедия, когда в авиакатастрофе погибли 8 человек основного состава.
            Мэт Басби выжил в катастрофе и занрго построил команду. В 1963 году выиграл с командой Кубок Англии.
            Главный успех к клубу пришёл в 1968 году, исполнилась мечта клуба, они выиграли Европейский Кубок
            Чемпионов. В финал они выиграли Бенфику. Исторический успех посвятили футболистам,которые погибли
            в авиакатастрофе.

            В 1969 году Басби ушёл с поста менеджера МЮ, а его сменщик не сумел сохранить победный традиции.
            Через 5 лет команда вылетила из первого Английского Дивизиона. Но они вернулись туда с первого раза
            и уже в 1977 году выиграли Кубок Англии. Национальный кубок выиграли 1983 и 1985 году.
            Трамплином сегодняшних успехов принято считать победу в Кубке Англии в 1990 года,
            тогда для выявления сильнейшего потребовалось переиграть матч с Кристал Пэллос.
            Блогадаря этому успеху Фергюсон остался у руля команды. В следующем году они выиграли Кубок
            Обладателей Кубков. С 1993 года начались успехи в Премьер-Лиги. По итогам 90-х стал самым
            успешным клубом туманного Альбиона выйграв Европейскую Лигу Чемпионов 1999году.

            Лидерство клуба на полях Англии было поставлено под вопрос Арсеналом и Челси.
            В сезоне 2006-2007 сумели вернуть себе позиции и сумели опять выиграть Лигу Чемпионов.
            В сезоне 2010-2011 МЮ выиграли 19-й титул Чемпиона Англии и опередили этим показателем Ливерпуль.
            С Фергюсоном клуб стал одним из самых титулованных в Европе. Он был у руля 26 лет.
<br>
        </h5>
    </aside>
{% endblock %}











