{% extends 'layout.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <aside class="title_text">
        <h1> MANCHESTER UNITED </h1>
    </aside>
    <aside class="main_text">
        <h4>
            Клуб появился в 1878 году под названием Ньютон Хит и был заводской командой
            Лонкашерского железнодорожного склада. В 1902 году был переименован в Манчестер Юнайтед.
            Через 6 лет команда завоевала свое первое золото Высшего Английского Дивизиона в 1908 году.
            В 1909 году пришёл успех в Кубке Англии. В 1952 году опять добыл и золото в Чемпионате Англии.
            Позже клуб два раза подряд повторял успех в 1956 году и в 1957 году. Это первая Английская команда
            которой удалось дойти до полуфинала Европейского Кубка Чемпионов, где Реал Мадрид оказался сильнее.
            <br><br>
            МЮНХЕНСКАЯ ТРАГЕДИЯ
            <br>
            В 1958 году команде произошла трагедия, когда в авиакатастрофе погибли 8 человек основного состава.
            Мэт Басби выжил в катастрофе и занрго построил команду. В 1963 году выиграл с командой Кубок Англии.
            Главный успех к клубу пришёл в 1968 году, исполнилась мечта клуба, они выиграли Европейский Кубок
            Чемпионов. В финал они выиграли Бенфику. Исторический успех посвятили футболистам,которые погибли
            в авиакатастрофе.
            <br>
                В 1969 году Басби ушёл с поста менеджера МЮ, а его сменщик не сумел сохранить победный традиции.
            Через 5 лет команда вылетила из первого Английского Дивизиона. Но они вернулись туда с первого раза
            и уже в 1977 году выиграли Кубок Англии. Национальный кубок выиграли 1983 и 1985 году.
            Трамплином сегодняшних успехов принято считать победу в Кубке Англии в 1990 года,
            тогда для выявления сильнейшего потребовалось переиграть матч с Кристал Пэллос.
            Блогадаря этому успеху Фергюсон остался у руля команды. В следующем году они выиграли Кубок
            Обладателей Кубков. С 1993 года начались успехи в Премьер-Лиги. По итогам 90-х стал самым
            успешным клубом туманного Альбиона выйграв Европейскую Лигу Чемпионов 1999году.
            <br>
                Лидерство клуба на полях Англии было поставлено под вопрос Арсеналом и Челси.
            В сезоне 2006-2007 сумели вернуть себе позиции и сумели опять выиграть Лигу Чемпионов.
            В сезоне 2010-2011 МЮ выиграли 19-й титул Чемпиона Англии и опередили этим показателем Ливерпуль.
            С Фергюсоном клуб стал одним из самых титулованных в Европе. Он был у руля 26 лет.
            <br><br>
            ДОСТИЖЕНИЯ
            <br>
            Клубу «Манчестер Юнайтед» принадлежит рекорд по количеству побед в высшем дивизионе
            чемпионата Англии (20 чемпионских титулов). Кроме того, «Манчестер Юнайтед» трижды
            в своей истории выигрывал «дубль» (победы в чемпионате и кубке в течение одного сезона)
            и один раз — «требл» (победа в чемпионате, Кубке Англии и Лиге чемпионов).
            В 1968 году «Манчестер Юнайтед» стал первым английским клубом, выигравшим Кубок
            европейских чемпионов. В 2017 году после победы в Лиге Европы «Юнайтед» стал пятым клубом,
            выигравшим все три главных европейских клубных трофея, Кубок европейских чемпионов/Лигу чемпионов УЕФА,
            Кубок УЕФА/Лигу Европы УЕФА и Кубок обладателей кубков (другими клубами, имеющими такое достижение,
            являются «Ювентус», «Аякс», «Бавария» и «Челси»). Также «Манчестер Юнайтед» является единственным
            английским клубом, выигравшим Межконтинентальный кубок и первым, выигравшим Клубный чемпионат мира.<br>
            <br>Высший дивизион чемпионата Англии: 20<br>
            - Чемпион Первого дивизиона: 7 (1907/08, 1910/11, 1951/52, 1955/56, 1956/57, 1964/65, 1966/67)<br>
            - Чемпион Премьер-лиги: 13 (1992/93, 1993/94, 1995/96, 1996/97, 1998/99, 1999/00, 2000/01, 2002/03, 2006/07, 2007/08, 2008/09, 2010/11, 2012/13)<br>
            <br>Второй дивизион чемпионата Англии<br>
            - Чемпион Второго дивизиона: 2 (1935/36, 1974/75)<br>
            <br>Кубок Англии: 12 (1909, 1948, 1963, 1977, 1983, 1985, 1990, 1994, 1996, 1999, 2004, 2016)<br>
            <br>Кубок Английской футбольной лиги: 6 (1992, 2006, 2009, 2010, 2017, 2023)<br>
            <br>Суперкубок Англии: 21 (1908, 1911, 1952, 1956, 1957, 1965, 1967, 1977, 1983, 1990*, 1993, 1994, 1996, 1997, 2003, 2007, 2008, 2010, 2011, 2013, 2016)<br>
            <br>Кубок европейских чемпионов / Лига чемпионов УЕФА: 3<br>
            - Победитель (3): 1968, 1999, 2008<br>
            - Финалист (2): 2009, 2011<br>
            <br>Лига Европы УЕФА: 1<br>
            - Победитель: 2017<br>
            - Финалист: 2021<br>
            <br>Кубок обладателей кубков УЕФА: 1 (1991)<br>
            <br>Суперкубок УЕФА: 1<br>
            - Победитель: 1991<br>
            - Финалист (3): 1999, 2008, 2017<br>
            <br>Межконтинентальный кубок: 1<br>
            - Победитель: 1999<br>
            - Финалист: 1968<br>
            <br>Клубный чемпионат мира: 1 (2008)<br>
            <br>
        </h4>
    </aside>
{% endblock %}

{% block search %}
    <form action="search" method="POST">
        {% csrf_token %}
        <input class="find" type="text" placeholder="Поиск по имени" name="search_product">
    </form>
{% endblock %}











