{% extends 'layout.html' %}
{% load static %}

{% block title %}Состав команды{% endblock %}

{% block content %}
    <aside class="title_text">
        <h1>ТЕКУЩИЙ СОСТАВ МАНЧЕСТЕР ЮНАЙТЕД</h1>
    </aside>
    <aside class="main_img">
        {% for el in products %}
            <a href="{% url 'news-detail' el.id %}" class="btn btn-primary">
                <img class="portret" src="/{{ el.product_photo }}" alt="{{ el.product_name }}" /></a>
        {% endfor %}
    </aside>
{% endblock %}

{% block search %}
    <form action="search" method="POST">
        {% csrf_token %}
        <input class="find" type="text" placeholder="Поиск по имени" name="search_product">
    </form>
{% endblock %}

{% block tools %}
<aside class="tools">
    <h5>
        ПОЗИЦИИ:
        {% for category in categories %}
            <a href="category/{{ category.id }}">{{ category.category_name }}</a>
        {% endfor %}<br>
    </h5>
</aside>
{% endblock %}
