{% extends 'layout.html' %}

{% block title %}ЗАКАЗЫ{% endblock %}

{% block content %}
    <aside class="title_text">
        <h1> СПИСОК ВЫБРАННЫХ ТОВАРОВ </h1>
    </aside>
    <aside class="main_text_ex">
        {% for i in cart %}
        <h5>/ Имя кандидата: {{ i.user_product }} {{ i.product_photo }} / <a href="/del-item/{{ i.user_product.id }}"><i class="fa-solid fa-trash"></i> Удалить</a></h5>
        <hr>
        {% endfor %}
        <form method="POST">
            {% csrf_token %}
            <button class="search"><i class="fa-brands fa-telegram"></i> Оформить заказ </button>
        </form>
    </aside>
{% endblock %}

{% block search %}
    <form action="search" method="POST">
        {% csrf_token %}
        <input class="find" type="text" placeholder="Поиск по имени" name="search_product">
    </form>
{% endblock %}

{% block tools %}
<aside class="tools">
    <h5>
        Позиции:
        {% for category in categories %}
            <a href="category/{{ category.id }}">{{ category.category_name }}</a>
        {% endfor %}<br>
    </h5>
</aside>
{% endblock %}
